<%= form_with(model: channel, class: "form") do |form| %>
  <% if channel.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>
      <ul>
        <% channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :family_id, "Familia" %>
      <%= form.collection_select :family_id, Family.order(:name), :id, :name, { prompt: 'Seleccione la familia' }, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :supplier_id, "Proveedor" %>
      <%= form.collection_select :supplier_id, Supplier.order(:name), :id, :name, { prompt: 'Seleccione el proveedor' }, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :born_date, "Fecha de Nacido" %>
      <%= form.date_field :born_date, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :slaughter_date, "Fecha de Matanza" %>
      <%= form.date_field :slaughter_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :crotal %>
      <%= form.text_field :crotal, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :lot, "Lote" %>
      <%= form.text_field :lot, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :weight , "Peso" %>
      <%= form.text_field :weight, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :weight_without_bones, "Peso sin Oreo" %>
      <%= form.text_field :weight_without_bones, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :weight_bones, "Peso Oreado" %>
      <%= form.text_field :weight_bones, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :temperature, "Temperatura" %>
      <%= form.text_field :temperature, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :total_value, "Costo" %>
    <%= form.text_field :total_value, class: "form-control" %>
  </div>

  <%= form.submit "Guardar", class: "btn btn-primary" %>
<% end %>
