<div id="<%= dom_id cut %>">
  <p>
    <strong>Piece:</strong>
    <%= cut.piece_id %>
  </p>

  <p>
    <strong>Cut name:</strong>
    <%= cut.cut_name_id %>
  </p>

  <p>
    <strong>Start date maturation:</strong>
    <%= cut.start_date_maturation %>
  </p>

  <p>
    <strong>End date maturation:</strong>
    <%= cut.end_date_maturation %>
  </p>

  <p>
    <strong>Maturing:</strong>
    <%= cut.maturing %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= cut.available %>
  </p>

  <p>
    <strong>Cut type:</strong>
    <%= cut.cut_type_id %>
  </p>

</div>
