<div id="<%= dom_id history %>">
  <p>
    <strong>Code:</strong>
    <%= history.code %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= history.date %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= history.client %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= history.lot %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= history.item %>
  </p>

</div>
