<% histories.each do |history| %>
    <tr>
        <td><%= history.code %></td>
        <td><%= history.date %></td>
        <td><%= history.client %></td>
        <td><%= history.lot %></td>
        <td><%= history.item %></td>
    </tr>
<% end %>
