<div id="<%= dom_id piece %>">
  <p>
    <strong>Channel:</strong>
    <%= piece.channel_id %>
  </p>

  <p>
    <strong>Piece name:</strong>
    <%= piece.piece_name_id %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= piece.lot %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= piece.weight %>
  </p>

</div>
