<p style="color: green"><%= notice %></p>

<h1 class="h3 mb-2 text-gray-800">Proveedores</h1>
<br />
<%= link_to "Agregar Proveedor", "#modal-supplier", class: "btn btn-primary", data: { toggle: "modal" } %>
<br /><br />
<div id="suppliers">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tablaProveedores" width="100%" cellspacing="0">
                    <thead>
                       <tr>
                           <th>Nombre</th>
                           <th>Telefono</th>
                           <th>Email</th>
                           <th></th>
                       </tr>
                    </thead>
                    <tbody>
                        <% @suppliers.each do |supplier| %>
                             <tr id="proveedor_<%= supplier.id %>" >
                                <td><%= supplier.name %></td>
                                <td><%= supplier.phone %></td>
                                <td><%= supplier.email %></td>
                                <td>
                                  <%= link_to "Proveedor", supplier, class: "btn btn-primary mb-3" %>
                                </td>
                             </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modal-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ingreso de Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', supplier: Supplier.new %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>